.container{
    background-color: springgreen;
    width: 20%;
    height: 200px;
    margin: auto 0;
    .qty{
        margin-top: 10px;
        text-align: center;
    }
}

.button{
    margin: 10px auto;
    padding: 10px;
    background-color: teal;
    width: 100px;
    border-radius: 10px;
    text-align: center;
    color: white;
    cursor: pointer;
}